<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>character create</title>
  </head>
  <body>
    <body>
        <form action="/" method="POST"><table>
			{% csrf_token %}
			<tr><td><input type="button" value="生成數值" onclick=gen_random()></td><td><input type="button" value="年齡補正" onclick=age_fix()></td></tr>
			<tr><td>Name</td><td><input type="text" name="Name" id="Name" value="test"></td><tr>
			<tr><td>Sex</td><td><input type="text" name="Sex" id="Sex" value="test"></td><tr>
			<tr><td>Job</td><td><input type="text" name="Job" id="Job" value="test"></td><tr>
			<tr><td>Age</td><td><input type="number" name="Age" id="Age" value="1"></td><tr>
			<tr><td>Birth_Place</td><td><input type="text" name="Birth_Place" id="Birth_Place" value="test"></td><tr>
			<tr><td>Residence</td><td><input type="text" name="Residence" id="Residence" value="test"></td><tr>
			<tr><td>STR</td><td><input type="number" name="STR" id="STR" value="1"></td><tr>
			<tr><td>CON</td><td><input type="number" name="CON" id="CON" value="1"></td><tr>
			<tr><td>SIZ</td><td><input type="number" name="SIZ" id="SIZ" value="1"></td><tr>
			<tr><td>DEX</td><td><input type="number" name="DEX" id="DEX" value="1"></td><tr>
			<tr><td>APP</td><td><input type="number" name="APP" id="APP" value="1"></td><tr>
			<tr><td>EDU</td><td><input type="number" name="EDU" id="EDU" value="1"></td><tr>
			<tr><td>INT</td><td><input type="number" name="INT" id="INT" value="1"></td><tr>
			<tr><td>POW</td><td><input type="number" name="POW" id="POW" value="1"></td><tr>
			<tr><td>MOV</td><td><input type="number" name="MOV" id="MOV" value="1"></td><tr>
			<tr><td>HP</td><td><input type="number" name="HP" id="HP" value="1"></td><tr>
			<tr><td>HP_max</td><td><input type="number" name="HP_max" id="HP_max" value="1"></td><tr>
			<tr><td>SAN</td><td><input type="number" name="SAN" id="SAN" value="1"></td><tr>
			<tr><td>LUCK</td><td><input type="number" name="LUCK" id="LUCK" value="1"></td><tr>
			<tr><td>MP</td><td><input type="number" name="MP" id="MP" value="1"></td><tr>
			<tr><td>MP_max</td><td><input type="number" name="MP_max" id="MP_max" value="1"></td><tr>
			<tr><td>Skill_Accounting</td><td><input type="number" name="Skill_Accounting" id="Skill_Accounting" value="1"></td><tr>
			<tr><td>Skill_Anthropology</td><td><input type="number" name="Skill_Anthropology" id="Skill_Anthropology" value="1"></td><tr>
			<tr><td>Skill_Appraise</td><td><input type="number" name="Skill_Appraise" id="Skill_Appraise" value="1"></td><tr>
			<tr><td>Skill_Archaecology</td><td><input type="number" name="Skill_Archaecology" id="Skill_Archaecology" value="1"></td><tr>
			<tr><td>Skill_Art_Craft</td><td><input type="number" name="Skill_Art_Craft" id="Skill_Art_Craft" value="1"></td><tr>
			<tr><td>Skill_Charm</td><td><input type="number" name="Skill_Charm" id="Skill_Charm" value="1"></td><tr>
			<tr><td>Skill_Climb</td><td><input type="number" name="Skill_Climb" id="Skill_Climb" value="1"></td><tr>
			<tr><td>Skill_Credit</td><td><input type="number" name="Skill_Credit" id="Skill_Credit" value="1"></td><tr>
			<tr><td>Skill_Cthulhu_Mythos</td><td><input type="number" name="Skill_Cthulhu_Mythos" id="Skill_Cthulhu_Mythos" value="1"></td><tr>
			<tr><td>Skill_Disguise</td><td><input type="number" name="Skill_Disguise" id="Skill_Disguise" value="1"></td><tr>
			<tr><td>Skill_Dodge</td><td><input type="number" name="Skill_Dodge" id="Skill_Dodge" value="1"></td><tr>
			<tr><td>Skill_Drive_auto</td><td><input type="number" name="Skill_Drive_auto" id="Skill_Drive_auto" value="1"></td><tr>
			<tr><td>Skill_Elev_Repair</td><td><input type="number" name="Skill_Elev_Repair" id="Skill_Elev_Repair" value="1"></td><tr>
			<tr><td>Skill_Fast_Talk</td><td><input type="number" name="Skill_Fast_Talk" id="Skill_Fast_Talk" value="1"></td><tr>
			<tr><td>Skill_Fighting</td><td><input type="number" name="Skill_Fighting" id="Skill_Fighting" value="1"></td><tr>
			<tr><td>Skill_Firearms_HandGun</td><td><input type="number" name="Skill_Firearms_HandGun" id="Skill_Firearms_HandGun" value="1"></td><tr>
			<tr><td>Skill_Firearms_Rifle</td><td><input type="number" name="Skill_Firearms_Rifle" id="Skill_Firearms_Rifle" value="1"></td><tr>
			<tr><td>Skill_First_Aid</td><td><input type="number" name="Skill_First_Aid" id="Skill_First_Aid" value="1"></td><tr>
			<tr><td>Skill_History</td><td><input type="number" name="Skill_History" id="Skill_History" value="1"></td><tr>
			<tr><td>Skill_Intimidate</td><td><input type="number" name="Skill_Intimidate" id="Skill_Intimidate" value="1"></td><tr>
			<tr><td>Skill_Jump</td><td><input type="number" name="Skill_Jump" id="Skill_Jump" value="1"></td><tr>
			<tr><td>Skill_Language_Other</td><td><input type="number" name="Skill_Language_Other" id="Skill_Language_Other" value="1"></td><tr>
			<tr><td>Skill_Language_Other_c</td><td><input type="number" name="Skill_Language_Other_c" id="Skill_Language_Other_c" value="1"></td><tr>
			<tr><td>Skill_Language_Owm</td><td><input type="number" name="Skill_Language_Owm" id="Skill_Language_Owm" value="1"></td><tr>
			<tr><td>Skill_Language_Owm_c</td><td><input type="number" name="Skill_Language_Owm_c" id="Skill_Language_Owm_c" value="1"></td><tr>
			<tr><td>Skill_Law</td><td><input type="number" name="Skill_Law" id="Skill_Law" value="1"></td><tr>
			<tr><td>Skill_LibraryUse</td><td><input type="number" name="Skill_LibraryUse" id="Skill_LibraryUse" value="1"></td><tr>
			<tr><td>Skill_Listen</td><td><input type="number" name="Skill_Listen" id="Skill_Listen" value="1"></td><tr>
			<tr><td>Skill_Locksmith</td><td><input type="number" name="Skill_Locksmith" id="Skill_Locksmith" value="1"></td><tr>
			<tr><td>Skill_Mech_Repair</td><td><input type="number" name="Skill_Mech_Repair" id="Skill_Mech_Repair" value="1"></td><tr>
			<tr><td>Skill_Medicine</td><td><input type="number" name="Skill_Medicine" id="Skill_Medicine" value="1"></td><tr>
			<tr><td>Skill_Natural_World</td><td><input type="number" name="Skill_Natural_World" id="Skill_Natural_World" value="1"></td><tr>
			<tr><td>Skill_Navigate</td><td><input type="number" name="Skill_Navigate" id="Skill_Navigate" value="1"></td><tr>
			<tr><td>Skill_Occult</td><td><input type="number" name="Skill_Occult" id="Skill_Occult" value="1"></td><tr>
			<tr><td>Skill_Op_Hv_Machine</td><td><input type="number" name="Skill_Op_Hv_Machine" id="Skill_Op_Hv_Machine" value="1"></td><tr>
			<tr><td>Skill_Persuade</td><td><input type="number" name="Skill_Persuade" id="Skill_Persuade" value="1"></td><tr>
			<tr><td>Skill_Pilot</td><td><input type="number" name="Skill_Pilot" id="Skill_Pilot" value="1"></td><tr>
			<tr><td>Skill_Pilot_c</td><td><input type="number" name="Skill_Pilot_c" id="Skill_Pilot_c" value="1"></td><tr>
			<tr><td>Skill_Psychology</td><td><input type="number" name="Skill_Psychology" id="Skill_Psychology" value="1"></td><tr>
			<tr><td>Skill_Psychoanalysis</td><td><input type="number" name="Skill_Psychoanalysis" id="Skill_Psychoanalysis" value="1"></td><tr>
			<tr><td>Skill_Ride</td><td><input type="number" name="Skill_Ride" id="Skill_Ride" value="1"></td><tr>
			<tr><td>Skill_Science</td><td><input type="number" name="Skill_Science" id="Skill_Science" value="1"></td><tr>
			<tr><td>Skill_Science_c</td><td><input type="number" name="Skill_Science_c" id="Skill_Science_c" value="1"></td><tr>
			<tr><td>Skill_Sleight_of_Hand</td><td><input type="number" name="Skill_Sleight_of_Hand" id="Skill_Sleight_of_Hand" value="1"></td><tr>
			<tr><td>Skill_Spot_Hidden</td><td><input type="number" name="Skill_Spot_Hidden" id="Skill_Spot_Hidden" value="1"></td><tr>
			<tr><td>Skill_Stealth</td><td><input type="number" name="Skill_Stealth" id="Skill_Stealth" value="1"></td><tr>
			<tr><td>Skill_Survival</td><td><input type="number" name="Skill_Survival" id="Skill_Survival" value="1"></td><tr>
			<tr><td>Skill_Survival_c</td><td><input type="number" name="Skill_Survival_c" id="Skill_Survival_c" value="1"></td><tr>
			<tr><td>Skill_Swim</td><td><input type="number" name="Skill_Swim" id="Skill_Swim" value="1"></td><tr>
			<tr><td>Skill_Throw</td><td><input type="number" name="Skill_Throw" id="Skill_Throw" value="1"></td><tr>
			<tr><td>Skill_Track</td><td><input type="number" name="Skill_Track" id="Skill_Track" value="1"></td><tr>
			<tr><td>Damage_Bonus</td><td><input type="text" name="Damage_Bonus" id="Damage_Bonus" value="test"></td><tr>
			<tr><td>Build</td><td><input type="text" name="Build" id="Build" value="test"></td><tr>
			<tr><td>Traits</td><td><input type="text" name="Traits" id="Traits" value="test"></td><tr>
			<tr><td>Beliefs</td><td><input type="text" name="Beliefs" id="Beliefs" value="test"></td><tr>
			<tr><td>Personal_Description</td><td><input type="text" name="Personal_Description" id="Personal_Description" value="test"></td><tr>
			<tr><td>Significant_People</td><td><input type="text" name="Significant_People" id="Significant_People" value="test"></td><tr>
			<tr><td>Meaningful_Location</td><td><input type="text" name="Meaningful_Location" id="Meaningful_Location" value="test"></td><tr>
			<tr><td>Treasured_Possesions</td><td><input type="text" name="Treasured_Possesions" id="Treasured_Possesions" value="test"></td><tr>
			<tr><td>Injuries_Scars</td><td><input type="text" name="Injuries_Scars" id="Injuries_Scars" value="test"></td><tr>
			<tr><td>Phobias_Manias</td><td><input type="text" name="Phobias_Manias" id="Phobias_Manias" value="test"></td><tr>
			<tr><td>Arcane_Tome_Spell_Artifact</td><td><input type="text" name="Arcane_Tome_Spell_Artifact" id="Arcane_Tome_Spell_Artifact" value="test"></td><tr>
			<tr><td>Encounters_with_Strange_Entities</td><td><input type="text" name="Encounters_with_Strange_Entities" id="Encounters_with_Strange_Entities" value="test"></td><tr>
			<tr><td><input type="submit" name="submit" id="submit" value="create"></td></tr>
		</table>
		<input type="hidden" id="username" name="username" value="{{ username }}">
		<input type="hidden" id="password" name="password" value="{{ password }}">
		</form>
	<script>
		function gen_random(){
			STR = document.getElementById("STR");
			CON = document.getElementById("CON");
			SIZ = document.getElementById("SIZ");
			DEX = document.getElementById("DEX");
			APP = document.getElementById("APP");
			INT = document.getElementById("INT");
			EDU = document.getElementById("EDU");
			POW = document.getElementById("POW");
			LUCK = document.getElementById("LUCK");
			SAN = document.getElementById("SAN");
			MP = document.getElementById("MP");
			MP_max = document.getElementById("MP_max");
			MOV = document.getElementById("MOV");
			STR.value = dice3d6()*5;
			CON.value = dice3d6()*5;
			SIZ.value = dice2d6_plus_6()*5;
			DEX.value = dice3d6()*5;
			APP.value = dice3d6()*5;
			INT.value = dice2d6_plus_6()*5;
			EDU.value = dice2d6_plus_6()*5;
			POW.value = dice3d6()*5;
			LUCK.value = dice3d6()*5;
			SAN.value = POW.value;
			MP.value = Math.floor((POW.value/5));
			MP_max.value = MP.value;
			
		}
		function dice6(){
			return Math.floor(Math.random()*6+1)
		}
		function dice3d6(){
			return dice6()+dice6()+dice6()
		}
		function dice2d6_plus_6(){
			return dice6()+dice6()+6
		}
	
	</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>